@using Diary.Models;
@model IEnumerable<ClassModel>;
@{
    ViewData["Title"] = "Список классов";
}
<style>
    .btnLink{
        color:white;
    }
    .btnLink:hover{
        color:white;
    }
</style>
<h1>Список классов</h1>
@if (User.IsInRole("Admin"))
{
    <div class="btn btn-primary">
        <a asp-controller="Admin" asp-action="ClassEdit" class="btnLink">Добавить</a>
    </div>
}
@foreach (var cl in Model)
{
    <div>
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="ClassEdit" asp-route-id="@cl.Id">
                Класс @cl.FullName
            </a>
        }
        else
        {
            <a asp-controller="Class" asp-action="Index" asp-route-id="@cl.Id">
                Класс @cl.FullName
            </a>
        }
    </div>
}

