@model Diary.Models.ParentModel;
@{
    ViewData["Title"] = "Страница Родителя";
}

<h1>Личный кабинет родителя</h1>

<div>Имя : @Model.Name</div>
<div>Дата Рождения : @Model.BirthDate.ToString("dd.MM.yyyy")</div>
@if (Model.Children.Any())
{
    <div>
        Дети :
        @foreach (var idChildName in Model.Children)
        {
            <a asp-controller="Profile" asp-action="StudentProfile" asp-route-id="@idChildName.Key">
                @idChildName.Value
            </a>
        }
    </div>
}
